.sidebar {
    -fx-background-color: white;
    -fx-border-color: transparent lightgray transparent transparent;
    -fx-border-radius: 0;
    -fx-border-width: 3px;
}
.sidebar-items {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.sidebar-items:hover {
    -fx-underline: true;
}
.sidebar-current {
    -fx-background-color: black;
    -fx-background-radius: 0px;
    -fx-border-color: black;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.topbar {
    -fx-background-color: white;
    -fx-background-radius: 10px;
}
.searchbar {
    -fx-background-color: -fx-text-box-border, white ;
    /*-fx-background-insets: 0, 0 1 1 0 ;*/
    -fx-background-radius: 22px;
    -fx-padding: 10 20 10 50;
    -fx-font-size: 15px;
    -fx-text-fill: black;
}
.search-button {
    -fx-background-color: transparent;
    -fx-opacity: 0.4;
}
.search-button:hover {
    -fx-background-color: transparent;
    -fx-opacity: 1;
}
.search {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
.content {
    -fx-background-color: white;
    -fx-background-radius: 0px;
}
.table-view {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-table-header-border-color: -fx-background;
    -fx-table-cell-border-color: -fx-box-border;
}
.table-view .column-header {
    -fx-background-color: cornflowerblue;
    -fx-border-color: white;
}
.table-view .cell {
    -fx-border-color: transparent;
    -fx-alignment: center;
}
.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.manage_employees {
    -fx-background-color: #00b2cb;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
.manage_employees:hover {
    -fx-background-color: #028697;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
.manage_users {
    -fx-background-color: #0057db;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
.manage_users:hover {
    -fx-background-color: #003ea1;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
.manage_salary {
    -fx-background-color: #6f42c1;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
.manage_salary:hover {
    -fx-background-color: #573497;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
.manage_department {
    -fx-background-color: #00c68f;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
.manage_department:hover {
    -fx-background-color: #007d5a;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
.manage_manager {
    -fx-background-color: #ff7700;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
.manage_manager:hover {
    -fx-background-color: #bf5600;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
.navigation {
    -fx-background-color: transparent;
    -fx-opacity: 0.4;
}
.navigation:hover {
    -fx-background-color: transparent;
    -fx-opacity: 1;
}
.go_to {
    -fx-background-color: -fx-text-box-border, white ;
    -fx-font-size: 15px;
    -fx-text-fill: black;
}
