.chart-plot-background {
    -fx-background-color: transparent;
}
.default-color0.chart-bar {
    -fx-bar-fill: black;
    -fx-opacity: 0.7;
}
.default-color0.chart-bar:hover {
    -fx-bar-fill: black;
    -fx-opacity: 1;
}