.main-pane {
    -fx-background-color: white;
    -fx-background-radius: 10px;
}
.search-bar {
    -fx-background-color: transparent;
    -fx-padding: 10 20 10 50;
    -fx-font-size: 15px;
    -fx-text-fill: black;
}
.search-button {
    -fx-background-color: transparent;
    -fx-opacity: 0.4;
}
.search-button:hover {
    -fx-background-color: transparent;
    -fx-opacity: 1;
}
.menu-item {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-opacity: 0.6;
}
.menu-item:hover {
    -fx-opacity: 1;
}
.menu-current {
    -fx-background-color: linear-gradient(to right, white 40%, lightgray 98%, black 98%);
    -fx-opacity: 1;
}
.table-view {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-table-header-border-color: -fx-background;
    -fx-table-cell-border-color: -fx-box-border;
}
.table-view .column-header {
    -fx-background-color: cornflowerblue;
    -fx-border-color: white;
}
.table-view .cell {
    -fx-border-color: transparent;
    -fx-alignment: center;
}
.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
.navigation {
    -fx-background-color: transparent;
    -fx-opacity: 0.4;
}
.navigation:hover {
    -fx-background-color: transparent;
    -fx-opacity: 1;
}
.navigation-info {
    -fx-opacity: 0.5;
}
.page-size {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-text-fill: black;
}